  <div id="ttt"></div>


  <div id="set_first_player" class="hidden">
    <h2>Play against:</h2>
    <form action="javascript:return false" method="get" accept-charset="utf-8">
      <input type="button" name="human_first" id="human_first" value="You vs Computer"
      onclick="javascript:set_players({name:'Human'}, {name:'Computer'}, {name: 'Human'}, 'x')"/><br />
      <input type="button" name="computer_first" id="computer_first" value="Computer vs You"
      onclick="javascript:set_players({name: 'Computer'}, {name: 'Human'}, {name: 'Human'}, 'o')"/><br />
      <input type="button" name="against_another_player" id="Opponent First" value="You vs Opponent" onclick="window.location='<%= url_for :controller => :games, :action => :new %>'"/>
    </form>
  </div>

  <div id="board_display">
  <%= render :partial => 'shared/board_display' %>
  </div>
  <script type="text/javascript" charset="utf-8">
    $('#board_display').addClass('hidden')
  </script>
<div id="loading">
  <img src="assets/lifepreserver.png">
</div>
<form name="speed_form">
<div id="options">
  <div class="item"><input type="radio" name="speed" id="fast_option" checked="checked"/><label for="fast_option">Computer plays fast</label></div>
  <div class="item"><input type="radio" name="speed" id="slow_option" /><label for="slow_option">Computer plays slow</label></div>
</div>
</form>

