<div id="ocean">
  <h1>Tic Tac Toe</h1>
  <div id="ttt"></div>

  <img src="assets/boat.png" class="boat">

  <div id="set_first_player" class="hidden">
    Who do you want to play first?<br />
    <form action="javascript:return false" method="get" accept-charset="utf-8">
      <input type="button" name="human_first" id="human_first" value="Human First" onclick="javascript:set_first_player('Human')"/><br />
      <input type="button" name="computer_first" id="computer_first" value="Computer First" onclick="javascript:set_first_player('Computer')"/>
    </form>
  </div>

  <div id="board_display" class="hidden">
    <div id="message"></div>
    <div class="squares">
      <% 9.times do |i|
        classes = []
        classes << "square"
        classes << "left"     if i%3 == 0 
        classes << "h-middle" if i%3 == 1 
        classes << "right"    if i%3 == 2 
        classes << "top"      if i/3 == 0
        classes << "v-middle" if i/3 == 1
        classes << "bottom"   if i/3 == 2 %>

      <div id="t-<%= i %>" class="<%= classes.join(" ") %>" onclick="javascript:send_move(<%= i %>)"></div>
    <% end %>
  </div>
  <div id="play_again_dialog" class="hidden">Do you want to play again?</div>
</div>
