
<div id="ttt">
</div>

<div id="set_first_player" class="hidden">
  Who do you want to play first?<br />
  <form action="javascript:return false" method="get" accept-charset="utf-8">
    <input type="button" name="human_first" id="human_first" value="Human First" onclick="javascript:set_first_player('human')"/><br />
    <input type="button" name="computer_first" id="computer_first" value="Computer First" onclick="javascript:set_first_player('computer')"/>
  </form>
</div>

<div id="board_display" class="hidden">
  <% (0..8).each do |i|
        classes = []
        classes << "square"
        classes << "left"     if i%3 == 0 
        classes << "h-middle" if i%3 == 1 
        classes << "right"    if i%3 == 2 
        classes << "top"      if i/3 == 0
        classes << "v-middle" if i/3 == 1
        classes << "bottom"   if i/3 == 2 %>

      <div id="t-<%= i %>" class="<%= classes.join(" ") %>" onclick="javascript:send_move(<%= i %>)"></div>
  <% end %>
  <div id="message"></div>
</div>

<script type="text/javascript" charset="utf-8">
  var first_player = null;
  var data = {
    board: ["", "", "",
           "", "", "",
           "", "", ""],
    turn: "x",
    dim: 3,
    x: "x",
    o: "o"
  };

  $(function() {
    $('#ttt').html($('#set_first_player').html());
  });
  function set_first_player(player) {
    first_player = player;
    $('#ttt').html($('#board_display').html());
    $('#message').html("Welcome to Tic Tac Toe");
  }
  function make_move(n) {
    $("#t-" + n).html(data.turn);
    data.board[n] = data.turn
    data.turn = data.turn == data.x ? data.o : data.x;
  }
  function send_move(n) {
    make_move(n);
    $.get("/ttt/move", data, function(n) {
      make_move(n);
    });
  }
</script>
