/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#message {
  text-align: center;
}
h1 a:visited, h1 a:link, h1:hover {
  text-decoration: none;
  color: #a1dbff;
  background-color: rgba(0,0,0,0);
}
  
#content {
  padding: 20px;
  margin: 0 auto;
  width: 600px;
  background-color: white;
  border: 1px solid black;
}

#banner {
  padding: 10px;
}

.right {
  float: right;
}
